/*=============== VARIABLES CSS ===============*/
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
/*========== REM ==========*/
/*========== z index ==========*/
/*=============== REUSABLE CSS CLASSES ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
.section {
  padding: 3.75rem 0 2rem;
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 60.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  overflow: hidden;
  /*For animation*/
}

/*=============== BASE ===============*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Lexend Deca", sans-serif;
  background: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

ol,
ul {
  list-style: none;
}

.card__button {
  padding: 0.8rem 2rem;
  border: 2px solid #f2f2f2;
  border-radius: 2.5rem;
  font-size: 0.938rem;
  font-family: "Lexend Deca", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.card--font1 {
  color: #e38826;
}
.card--font1:hover {
  background-color: #e38826;
  color: #f2f2f2;
}
.card--font2 {
  color: #006970;
}
.card--font2:hover {
  background-color: #006970;
  color: #f2f2f2;
}
.card--font3 {
  color: #004241;
}
.card--font3:hover {
  background-color: #004241;
  color: #f2f2f2;
}

.card__content {
  padding: 2.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
.card__data {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}
.card__data--title {
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.5rem;
  color: #f2f2f2;
}
.card__data--description {
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.5rem;
}
.card__one {
  background-color: #e38826;
  border-radius: 0.5rem 0.5rem 0 0;
}
.card__two {
  background-color: #006970;
}
.card__three {
  background-color: #004241;
  border-radius: 0 0 0.5rem 0.5rem;
}

.footer__card {
  text-align: center;
}
.footer__img {
  width: 0.9rem;
  cursor: pointer;
  -webkit-animation: love 2s infinite;
          animation: love 2s infinite;
}

@-webkit-keyframes love {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes love {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  .card {
    margin: 5rem auto;
  }
  .card__container {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 1.5rem;
  }
  .card__one {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .card__three {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .card__button {
    margin-top: 2rem;
  }

  .footer__card {
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */