/*=============== VARIABLES CSS ===============*/

$header-height: 3.5rem;

/*========== Colors ==========*/
$main-heading: hsl(0, 0%, 95%);
$main-paragraph: hsla(0, 0%, 100%, 0.75);

$card-background-1: hsl(184, 100%, 22%);
$card-background-2: hsl(31, 77%, 52%);
$card-background-3: hsl(179, 100%, 13%);

/*========== Font and typography ==========*/
$body-font: 'Lexend Deca', sans-serif;
$body-font-alt: 'Big Shoulders Display', cursive;
$biggest-font-size: 2rem;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: 1.3rem;
$small-font-size: 1rem;
$smaller-font-size: 0.75rem;

/*========== Font weight ==========*/
$font-medium: 300;
$font-semi-bold: 400;
$font-bold: 600;

/*========== REM ==========*/
$rem-0-25: 0.25rem;
$rem-0-5: 0.5rem;
$rem-0-75: 0.75rem;
$rem-1: 1rem;
$rem-1-5: 1.5rem;
$rem-2: 2rem;
$rem-2-5: 2.5rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
